* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins_medium;
}

@font-face {
  font-family: poppins_medium;
  src: url(assets/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins_thin;
  src: url(assets/Poppins/Poppins-Light.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 70%);
}

/* #ff6e42 */
/* <i class="fa-solid fa-toggle-on"></i> */
/* rgb(53, 53, 53) */

/* inhereited selectors attributes */
.title {
  /* background-color: rebeccapurple; */
  width: fit-content;
  margin: auto;
}

#title-content {
  text-align: center;
  margin: 20px 0;
  text-transform: capitalize;
  color: rgb(53, 53, 53);
  position: relative;
}

#title-content::after {
  content: '';
  background-color: #ff6e42;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 1px solid black; */
  border-radius: 10px;
  transform: scaleX(0);
  transition: 800ms ease-in-out;
}




/* inhereted selectors attributes end */

#nav-bar {
  position: fixed;
  width: 100vw;
  z-index: 999;
  transition: 450ms ease-in-out;
}

#nav-bar .container {
  /* background-color: slateblue; */
  display: flex;
  justify-content: space-between;
  margin: 20px 10vw;
}

#nav-bar .container .left-part {
  position: relative;
  display: flex;
  gap: 2rem;
  /* background-color: rgb(22, 42, 60); */
}

#nav-bar .container .left-part #logo {
  width: 60px;
  aspect-ratio: 1;
  transform: scale3d(0);
  transition: 200ms ease-in;
}

/* #nav-bar .container .left-part #logo:hover {
  transform: scale3d(1);
  width: 70px;
  aspect-ratio: 1;
} */
#nav-bar .container .left-part .user-img {
  position: relative;
  /* background-color: #f9f9f9; */
  /* width: 90px; */
  /* height: 60px; */
  display: flex;
}

#nav-bar .container .left-part .user-img #user-btn {
  position: absolute;
  color: #ff6e42;
  font-size: 1.6rem;
  right: -20px;
  bottom: 0;
  /* background-color:blue; */
}

#nav-bar .container .left-part .user-img #user-btn::after {
  content: '';
  z-index: -1;
  background-color: rgb(53, 53, 53);
  width: 16px;
  height: 218px;
  position: absolute;
  top: 0px;
  right: 0px;
  /* design */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  /* animation */
  transform: scaleY(0);
  transition: 500ms ease;
  transform-origin: top;
}

#nav-bar .container .left-part:hover .user-img #user-btn::after {
  transform: scaleY(1);
}

#nav-bar .container .left-part #user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ff6e42;
}

/* /////////////////////////////////// */

#nav-bar .container .left-part .user-drop {
  background-color: rgb(53, 53, 53);
  position: absolute;
  right: -4px;
  bottom: -192px;
  /* design */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* animation */
  transform: scaleX(0);
  transition: 250ms 500ms ease;
  transform-origin: right;
}

#nav-bar .container .left-part:hover .user-drop {
  transform: scaleX(1);
}

#nav-bar .container .left-part .drop-ul {
  /* background-color: rgb(30, 152, 53); */
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

#nav-bar .container .left-part .drop-li {
  /* background-color: tan; */
}

#nav-bar .container .left-part .drop-a {
  text-decoration: none;
  color: #ff6e42;
}


/* ///////////////////////////////////////////////// */
#nav-bar .container .list {
  /* background-color: aqua; */
}

#nav-bar .container .ul-list {
  display: flex;
  /* background-color: rgb(65, 45, 41); */
  list-style: none;
  text-transform: capitalize;
  margin-top: 1.3rem;
  gap: 1.9rem;
}

#nav-bar .container .ul-list #list-item {}

#nav-bar .container .ul-list #list-item a {
  position: relative;
  color: white;
  text-decoration: none;
  transition: 450ms ease-in-out;
}

#nav-bar .container .list .ul-list #list-item:last-child a {
  background-color: #ff6e42;
  padding: 10px;
  border-radius: 32px;
  transition: all 400ms;
}

#nav-bar .container .list .ul-list #list-item:last-child:hover a {
  background-color: transparent;
  outline: 2px solid #ff6e42;
  color: #ff6e42;
  transition: 450ms ease-in-out;
}

#nav-bar .container .ul-list #list-item a::after {
  background-color: #ff6e42;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  left: 0;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 250ms ease-in;
}

#nav-bar .container .ul-list #list-item a:hover::after {
  transform: scaleX(1);
}

#nav-bar .container .ul-list #list-item:last-child a::after {
  display: none;
}

#nav-bar .container #ham-menu {
  display: none;
  width: 3rem;
  aspect-ratio: 1;
}

/* /////////////////////////////////////////////// */
#head-part {
  height: 100vh;
}

#head-part .img-div {
  background-image: url(assets/imgs/header.jpg);
  /* background-color: rgba(0, 0,0, 0.7) ;  */
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#head-part .img-div .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
}

#head-part .img-div .overlay .overlay-content {
  /* background-color: yellow; */
  margin: 45vh auto 50vh auto;
  text-align: center;
  text-transform: capitalize;
}

#head-part .img-div .overlay .overlay-content h3 {
  font-size: 1vw;
  color: white;
  letter-spacing: 10px;
  word-spacing: 13px;
  font-family: poppins_thin;
  font-weight: lighter;
  margin-bottom: -10px;
}

#head-part .img-div .overlay .overlay-content h1 {
  font-size: 4.5vw;
  color: white;
  font-weight: bolder;
}

/* /////////////////////////////////////////////////////////////////////////////////// */

.read_latest_part {
  width: 100%;
  background-color: #ff3700;
  padding: 20px 0;
}

.read_latest_part .container {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}

.read_latest_part .container .cell {}

.read_latest_part .container .cell .img {}

.read_latest_part .container .cell .content {}

.read_latest_part .container .cell .content .activity {
  background-color: aqua;
}

.read_latest_part .container .cell .content .activity ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.read_latest_part .container .cell .content .activity li {}

.read_latest_part .container .cell .content .activity a {
  text-decoration: none;
  color: #ff6e42;
}

.read_latest_part .container .cell .content .activity i {
  margin-right: 5px;
}

.read_latest_part .container .cell .content .comment-div {}

.read_latest_part:hover .title #title-content::after {
  transform: scaleX(1);
}
















/* /////////////////////////////////////////////////////////////////////////////////// */
.testimonial-part {
  margin-top: 4rem;
  display: flex;
  height: 32rem;
  position: relative;

}

.testimonial-part #testimonial-container {
  position: relative;
  background-color: rgb(53, 53, 53);
  width: 70%;
  /* height: calc(100% - 40px); */
  height: 100%;
  /* border: 2px solid black; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  margin: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 450ms ease-in;
}

.testimonial-part #testimonial-container .pages {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  /* background-color: rgb(39, 193, 157); */
}

.testimonial-part #testimonial-container .pages .content {
  position: relative;
  background-color: rgb(53, 53, 53);
  width: 40%;
  height: 390px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ff6e42;
  /* for the position of the h1-p in this div */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.testimonial-part #testimonial-container .pages .content#one {
  /* background-color: aqua; */
}

.testimonial-part #testimonial-container .pages .content#two {}

.testimonial-part #testimonial-container .pages .content .person-img-div {
  position: absolute;
  width: 120px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: cover;
  top: -60px;
  left: 30px;
  border: 2px solid #ff6e42;
  border-radius: 60px;
}

.testimonial-part #testimonial-container .pages .content#one .person-img-div {
  background-image: url(assets/imgs/tett1.png);
}

.testimonial-part #testimonial-container .pages .content#two .person-img-div {
  background-image: url(assets/imgs/tett2.png);
}

.testimonial-part #testimonial-container .pages .content h3 {
  margin-top: 60px;
  text-transform: capitalize;
}

.testimonial-part #testimonial-container .pages .content p {
  font-family: poppins_thin;
  font-weight: 100;
  font-size: large;
  margin-bottom: 3rem;
  line-height: 30px;
}

/* ///////////// */
.testimonial-part #testimonial-title-nav {
  /* background-color: yellow; */
  width: 30%;
  z-index: 2;
}

.testimonial-part:hover .title #title-content::after {
  transform: scaleX(1);
}

.testimonial-part #testimonial-title-nav .buttons {
  /* background-color: turquoise; */
  text-align: center;
  margin: 10vh auto;
}

.testimonial-part #testimonial-title-nav .navigation-button {
  width: 5rem;
  aspect-ratio: 1;
  border: none;
  background-color: #ff6e42;
  border: 2px solid hsl(14, 100%, 33%);
  border-radius: 5px;
  cursor: pointer;
  margin: 7px;
}

.testimonial-part #testimonial-title-nav .navigation-button i {
  font-size: 2em;
}

.testimonial-part #testimonial-title-nav .navigation-button #left {}

.testimonial-part #testimonial-title-nav .navigation-button #right {}

#beta {
  width: 90px;
  height: 1600px;
  background-color: rgb(117, 117, 117);
}